<!-- /userapp/templates/userapp/password_reset_form.html -->
<html>
    <h1>Restablecer la contraseña</h1>
    <p>Introduce tu dirección de correo electrónico y te enviaremos instrucciones para restablecer tu contraseña.</p>
    <form method="POST">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {{ form.email.label_tag }}<br>
        {{ form.email }}
        {% if form.email.errors %}
            <p style="color: red;">{{ form.email.errors }}</p>
        {% endif %}
        <input type="submit" value="Enviar"/>
    </form>
    <p><a href="{% url 'login' %}">Volver al inicio de sesión</a></p>
</html>
